@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
body {
  margin: 0;
  font-family: "Ubuntu Mono", monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color) !important;
}
